<launch>
  <arg name="map" default="glennan_2_2012-12-08.yaml"/>
  <include file="$(find abby_launch)/launch/amcl.launch">
    <arg name="map" value="$(arg map)"/>
  </include>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find abby_config)/config/nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find abby_config)/config/nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find abby_config)/config/nav/costmap_local_params.yaml" command="load" />
    <rosparam file="$(find abby_config)/config/nav/costmap_global_params.yaml" command="load" />
    <rosparam file="$(find abby_config)/config/nav/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find abby_config)/config/nav/move_base_params.yaml" command="load" />
    <remap from="cmd_vel" to="cmd_vel_slow" />
  </node>
  
  <node pkg="cwru_utilities" type="twist_multiplier.py" respawn="true" name="cmd_vel_multiplier" output="screen">
    <remap from="twist_in" to="cmd_vel_slow" />
    <remap from="twist_out" to="cmd_vel" />
    <param name="in_rate" value="2.5" />
    <param name="out_rate" value="20.0" />
  </node>
</launch>  
