<launch>
    <arg name="seed_amcl_left" default="false" />
    <arg name="seed_amcl_right" default="false" />
    <include file="$(find abby_demo)/launch/seed_amcl_left.launch" if="$(arg seed_amcl_left)" />
    <include file="$(find abby_demo)/launch/seed_amcl_right.launch" if="$(arg seed_amcl_right)" />
    <include file="$(find abby_launch)/launch/nav.launch" />
    
    <include file="$(find abby_object_manipulation_launch)/launch/manipulation_prerequisites.launch" />
    
    <!-- tabletop collision map processing -->
    <node pkg="tabletop_collision_map_processing" name="tabletop_collision_map_processing" 
          type="tabletop_collision_map_processing_node" respawn="false">
      <param name="get_model_mesh_srv" value="/objects_database_node/get_model_mesh" />
	  <param name="static_map_cloud_name" value="full_cloud_filtered" />
	  <param name="table_thickness" value="0.01" />
    </node>
    
    <!-- pad objects when filtering from collision map-->
    <rosparam param="/robot_description_planning/default_object_padding">0.05</rosparam>
      
    <!-- Load Tabletop Perception -->
    <include file="$(find abby_object_manipulation_launch)/launch/tabletop_perception.launch">
      <arg name="cloud_in" value="/camera/depth_registered/object_modeling_points_filtered"/>
    </include>
    
    <!-- cluster bounding box finder--> 
    <node name="cluster_bounding_box_finder" pkg="object_manipulator" cwd="node"
          type="cluster_bounding_box_finder_server.py" respawn="false" >
	  <param name="z_up_frame" value="/base_link" />
    </node>
  
    <!--object manipulator-->
    <node name="object_manipulator" pkg="abby_object_manipulator"
          type="BoxManipulator.py" respawn="false" output="screen">
    </node> 
</launch>
