<?xml version="1.0" ?>
<robot name="abby" xmlns:xacro="http://ros.org/wiki/xacro">
	<include filename="$(find abb_common)/urdf/irb_120_macro.xacro" />
	<include filename="$(find abby_description)/urdf/abby_no_arm_macro.xacro" />
	<include filename="$(find abby_description)/urdf/gripper_macro.xacro" />
	<xacro:irb_120 prefix="irb_120_"/>
    <xacro:abby_no_arm />
    <xacro:abby_gripper />
    <joint name="camera_arm" type="fixed">
        <parent link="camera_rgb_optical_frame"/>
        <child link="irb_120_base_link"/>
		<origin rpy="1.641 -0.821 1.582" xyz="-.0310 .575028 .52330"/>
		<!--origin rpy="-1.571 1.446 1.571" xyz="0.04464 -0.473311 0.753907"/-->
    </joint>
    <joint name="arm_gripper" type="fixed">
        <parent link="irb_120_link_6"/>
        <child link="gripper_body"/>
		<origin rpy="0 0 -0.7" xyz="0 0 0"/>
    </joint>
</robot>

